/* Global Styles */
:root{
    --blanco:#F7FFF7;
    --negro:#343434;
    --azul:#2F3061;
    --azulhover:#18222c;
    --amarillo:#FFE66D;
    --celeste:#6CA6C1;
    --verdehover:#166637;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

  /* Header Styles */

.iniciotag {
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    text-align: center;
    margin-bottom: 6rem;
    width: 100%;
    height: 10rem;
    background-color: var(--blanco);
    z-index: 1;
}

.iniciotag a {
    text-decoration: none;
    color: var(--blanco);
}

.iniciotag li {
    list-style: none;
    display: inline-block;

    margin: 0 2rem;
    padding: 10px;
    background-color: var(--azul);
    border-radius: 8px;
    transition: 0.5s;
}
.iniciotag li:hover {
    background-color:var(--azulhover);
}
h1 {
    color:var(--negro);
    margin-top: 0;
    font-size: 3rem;
}

/* Banner Styles */

.container {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--blanco);
    padding: 30px;
}

.banner {
    margin-top: 5rem;
    width: 80%;
    height: 60rem;
    border-radius: .8rem;
}
.sub1{
    color: var(--blanco);
    font-size: 3.5rem;
    position: absolute;
    top: 50rem;
    left: 18.8rem;
    z-index: 0;
}
.sub2{
    color: var(--blanco);
    position: absolute;
    font-size: 2rem ;
    top: 54rem;
    left: 30rem ;
}
.sub3{
    margin: 2rem;
    font-size: 1.8rem;
}

h2, h3 {
    color: #222222;
    font-size: 26px;
}

  /* About Us Styles */
.sub3 {
    margin: 3rem;
    font-size: 2.4rem;
    text-align: center;
  }
  
  .sub4 {
    margin-top: 60px;
  }
  
  .about {
    margin-bottom: 70px;
  }
  
  .about ul {
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  
  .about li {
    display: inline-block;
  }
  
  .aboutC1, .aboutC2, .aboutC3 {
    display: inline-block;
    background-color: var(--azul);
    color: #fff;
    font-size: 1.8rem;
    width: 30rem;
    height: 45rem;
    vertical-align: top;
    margin: 50px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .aboutsb{
    margin: 2rem;
    font-weight: bold;
    
  }
  .aboutpc{
    margin: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-style: Regular;
  }
  
  /* Sales Section Styles */
  
  .Tventa {
    font-size: 2.4rem;
    margin-top: 30px;
    margin-left: 390px;
    margin-bottom: 0;
  }
  
  .casaVenta {
    display: inline-block;
    margin-top: 0;
  }
  
  .casaVenta ul {
    display: inline-block;
  }
  
  .casaVenta li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 70px;
    padding: 10px;
    text-align: center;
    width: 30rem;
    height: 50rem;
    background-color:var(--amarillo);
    border-radius: 1rem;
    box-shadow: 10px 20px 8px 0px rgba(80, 80, 80, 0.1);
  }
  .h3V{
    margin: 0.8rem;
  }
  .casaVenta{
    font-size: 1.6rem;
  }
  
  .capla, .calu, .capi {
    display: inline-flex;
    width: 100%;
    height: 18rem;
    padding: 15px;
    border-radius: 0.1rem;
    margin-bottom: 3rem;
  }
  .precio{
    margin: 1rem;
    color: #166637;
  }
  
  .icon {
    margin: 1.5rem 1.8rem;
    height: 3rem;
    width: 3rem;
  }
  
  .botonP {
    margin: 20px;
    padding: 15px;
    background-color: var(--azul);
    border-radius: 10px;
    color: var(--blanco);
    transition: 0.4s;
  }
  
  .botonP:hover {
    background-color: #166637;
    color: #fff;
  }
  
  /* Blog Section Styles */

  .Tblog {
    font-size: 2.4rem;
    width: 100%;
    margin-left: 390px;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  .blogA {
    margin: 20px;
    margin-top: 0;
    display: inline-block;
  }
  
  .blog1 {
    width: 35rem;
    height: 45rem;
    display: inline-block;
    margin: 60px;
    padding: 28px;
    text-align: center;
    background-color: #284b64b6;
    border-radius: 8px;
    box-shadow: 10px 20px 8px 0px rgba(80, 80, 80, 0.1);
  }
  .bimg{
    width: 100%;
    height: 20rem;
  }
  h6{
    font-size: 1.5rem;
    margin: 0.8rem;
  }
  .blog1 p{
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    justify-content: center;
  }
  
  .blogA article {
    display: inline-block;
    vertical-align: top;
  }
  
  .blog1 hr {
    margin: 0 auto;
  }

  /*Aside right*/

aside{
    margin-top: 4.5rem;
    float: right;
    width: 35rem;
    height: 63rem;
    background-color: var(--amarillo);
    border-radius: 0.8rem;
    justify-content: center;
}
aside p{
    font-size: 1.5rem;
    justify-content: center;
    text-align: justify;
}
.tComment{
    margin: 0.8rem auto;
    background-color: var(--azulhover);
    color: var(--blanco);
    width: 15rem;
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.comment{
    margin: 5rem 0;
    padding: 1rem;
}
/*Footer*/
footer{
    position: relative;
    background-color: var(--celeste);
    margin-top: 25rem;
    text-align: center;
    height: 15rem;
    font-size: 1.5rem;
}
footer a{
    text-decoration: none;
    color: var(--blanco);
}
footer li{
    list-style: none;
    display: inline-block;
    margin: 1rem 2rem;
    padding: 10px;
    background-color: var(--celeste);
    border-radius: 8px;
    transition: 0.5s;
}
footer li:hover{
    background-color:var(--azulhover);
}
.foot1{
    position: absolute;
    top: 0; 
}
.foot2{
    position: absolute;
    text-align: center;
    bottom: 0;
}
/* Pagina 2=Formulario*/
.container2 {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--blanco);
    padding: 30px;
}

.banner2 {
    margin-top: 5rem;
    width: 80%;
    height: 60rem;
    border-radius: .8rem;
}
form{
    z-index: 3;
    margin: 70rem;
    display: block;
    width: 100%;
    height: 200rem
    
}